.category{
    max-width:700px;
    margin:30px auto;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.category form{
    width:290px;
    margin-bottom: 20px;
}
.category input,
.category button
{
    display:block;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom:10px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
}
.category label{
    display:flex;
    align-items: center;
}
.category button{
width:70px;
background-color:pink;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
}
.category form button{
    margin-top: 20px;
}
.category .row{
    display:flex;
    min-width:290px;
    align-items:center;
    justify-content:space-around;
}
